@layer base {
	.xy {
		@apply flex items-center justify-center;
	}
	.fx {
		@apply flex items-center;
	}
	.fy {
		@apply flex flex-col items-center;
	}
	.b {
		border: 1px solid red !important;
	}
	.o {
		outline: 1px solid red !important;
	}
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hidden {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.mini-x-scroll {
		@apply overflow-x-auto whitespace-nowrap;
	}
	.mini-x-scroll::-webkit-scrollbar {
		height: 1px;
	}
	.mini-x-scroll::-webkit-scrollbar-thumb {
		@apply bg-fg1;
	}
}

/* I need this so the ui is consistent across platforms. Quick fix that Loses the scrollbar. It's ok  */
@utility scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

/* *:not(:root) { */
* {
	@apply scrollbar-hide;
}
