@layer base {
	.xy {
		@apply flex items-center justify-center;
	}
	.fx {
		@apply flex items-center;
	}
	.fy {
		@apply flex flex-col items-center;
	}
	.b {
		border: 1px solid red !important;
	}
	.o {
		outline: 1px solid red !important;
	}
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hidden {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
}
