@layer base {
	:root {
		--bg1: #fafaf8;
		--bg2: #f6f5f2;
		--bg3: #f2f1ed;
		--bg4: #edecea;
		--bg5: #e8e7e4;
		--bg6: #e3e2de;
		--bg7: #deddd8;
		--bg8: #d9d7d2;
		--hl1: var(--color-cyan-500);
		--hl2: var(--color-cyan-600);
		--hl-link: var(--color-teal-400);
		--hl-edit: var(--color-red-400);
		--hl-spot: var(--color-yellow-400);
		--hl-cite: var(--color-zinc-400);
		--fg1: #2c353a;
		--fg2: #6d6d69;
		--fg3: #000;

		--local: #7c7c7c;
		--personal: #6aa84f;
		--global: #4a90a4;
	}

	.dark {
		/* --bg1: #141415; */
		--bg1: #000000;
		--bg2: #1a1a1c;
		--bg3: #202022;
		--bg4: #262628;
		--bg5: #2c2c2e;
		--bg6: #323234;
		--bg7: #38383a;
		--bg8: #3e3e40;
		--hl1: var(--color-cyan-500);
		--hl2: var(--color-cyan-400);
		--hl-link: var(--color-teal-300);
		--hl-edit: var(--color-red-300);
		--hl-spot: var(--color-yellow-300);
		--hl-cite: var(--color-zinc-500);
		--fg1: #e8e8e7;
		--fg2: #a5a5a4;
		--fg3: #fff;

		--local: #b0b0b0;
		--personal: #a2d39b;
		--global: #6fc3df;
	}
}
