* {
	overflow-anchor: auto;
}

body {
	@apply bg-bg1 text-fg1 overflow-clip;
}

button,
select {
	@apply cursor-pointer;
}

*:focus-visible {
	@apply outline-hl1 outline-2 -outline-offset-2 outline-solid;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield; /* For Firefox */
}

a {
	user-select: text;
	-webkit-user-drag: none;
}
