* {
	overflow-anchor: auto;
}

body {
	@apply bg-bg1 text-fg1 touch-manipulation;
	/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	/* font-family:
		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	/* font-family: cursive; */
	/* font-family: fantasy; */
}

button,
select {
	@apply cursor-pointer;
}

*:focus-visible {
	@apply outline-hl1 outline-2 -outline-offset-2 outline-solid;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield; /* For Firefox */
}

a {
	user-select: text;
	-webkit-user-drag: none;
}

/* Standard modern browsers */
body {
	scrollbar-color: var(--scrollbar-color-thumb) transparent;
	scrollbar-width: thin;
}

/* WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color-thumb);
}

body::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-color-thumb-hover);
}
